*{ margin:0; padding:0;}
ul{ list-style:none;}
img{ border:none;}

#gallery{ 
    float:left;
    padding-bottom:20px;
}
#gallerNav{ 
    float:left; 
    padding:10px 0 0 10px;
    height:140px;
}
#gallerNav li{ 
    float:left;
    margin:10px; 
    display:inline;
    border:3px solid #eee;
}
#gallerNav li a{
    border:1px solid #ccc;
    padding:5px;
    background:#fff;
    float:left;
}
#gallerNav li a#focus{
    border:1px solid #000;
}
#gallerNav li a:hover{
    border:1px solid #f90;
    background:#ff6;
}
#gallerNav li a img{ 
    display:block; 
    width:150px;
    height:110px;
}
#galleryCon{
    border:3px solid #eee;
    float:left;
    position:relative;
    margin:20px 0 0 20px;
    display:inline;
}
#galleryDefaultImg{
    border:1px solid #ccc;
    padding:5px;
    background:#fff;
    width:715px;
    height:500px;
    display:block;
}
#galleryDescription{
    position:absolute;
    left:0;
    top:300px;
    background:#000;
    opacity:.7;
    filter: Alpha(Opacity=70);
    padding:20px 0;
    color:#fff;
    font:50px Verdana, Geneva, sans-serif;
    text-align:center;
    width:726px;
    font-style:italic;
}

