﻿
    CSS 把 Html 的显示部分抽离出来，一次定义多个页面的显示效果
     可以另外写在一个 CSS 文件里，用 <link> 标签引进来
     也可以直接在文件的 <head> 里定义，用 <style> 标签括起来

<html>
    <head>
       <link rel="stylesheet" href="1.css" type="text/css" />  <!-- 导入CSS文件 -->
       <style type="text/css">        /*  这里用Html注释会影响其他的内容  */
       <!--
           @charset "utf-8";          /* 定义样式的编码, 一般是css文件里面有中文时才使用 */
           @import url("layout.css"); /* 导入样式表, 一般用<link>标签，只有在样式表文件里面才这样写 */
           h1{color:red;font-size:45} /* 定义一个元素的样式: h1的标题是红的，并字体大小为45 */
           h2,h3,h4{color:blue}       /* 连续定义多个元素的样式:h2,h3,h4的标题颜色 */
           h1.class1{color:yellow}    /* 定义指定元素，且指定class的样式: <h1 calss="class1"> */
           .class2{font-family:宋体}  /* 定义所有class="class2"的都是宋体字的，级别较单独h的高 */
           #c1{color:#F304DE}         /* 定义指定id的样式; 不常用，因为id经常有其他的用途 */
           body{font-size:20pt}       /* 定义整个body的内容显示格式 */
           DIV{text-align:center;}    /* 可定义所有与样式有关的东西 */
           a{text-decoration:none}    /* 消除 A 链接的下划线；显示则改 none 为 underline */
           li{display:inline;}        /* 使 ul li 列表元素横排布局 */
           html,body { height:100%;}  /* 设置容器高度，同时设置html是为了兼容FireFox */
       -->
       </style>
    </head>
    <body>
        <h1 class="class1">是黄的吗？</h1>
        <h1>应该是红的</h1>
        <h2>是蓝的</h2>
        <h3>也是蓝的</h3>
        <h4 class="class2">蓝的？绿的</h4>
        <h3 id="c1">带id的，紫色</h3>
        <h6 class="class2">看class2对其的作用</h6>
        <h5 id="c1"> 紫色的</h5>
        <a><h5> 黄的，根据“1.css”</h5></a>
    </body>
</html>

"1.css"文件里的内容：
h1{color:black;font-size:100}
h5{color:yellow}

    优先级：范围越小，优先级越高。
    注释：可用Html的注释，但为避免微量的影响，建议括起来。还可用 /*...*/ 注释；但不能用双斜杆注释 //...
    另外写的CSS文件，只需写<style>里面的内容



基础知识：
一、选择器:
  1. 类型选择器
     直接用元素标签,选取所有这个标签的元素
     td { font-size:14px; width:120px; }  /* 选取 <td> 元素 */
     a { text-decoration:none; }          /* 选取 <a> 元素  */
  2. ID选择器
     用“#”开头，紧跟着ID的名称, 选取指定id的元素
     #note { font-size:14px; width:120px;}   /* 选取如: <div id="note" >test</div> */
  3. 类选择器
     用“.”开头，紧跟着 class 名称, 选取指定 class 的元素
     .dream { font-size:14px; }  /* 选取如: <div calss="dream" >test</div> */
  4. 复合选择
     div.dream {} /* 选取指定标签,且指定class的元素; 如: <div calss="dream" >test</div> */
     span#note {} /* 选取指定标签,且指定id的元素; 如: <span id="note" >test</span> */
     #content.title{} /* 选取指定id,且指定class的元素; 如: <div id="content" class="title">test</div> */
  5. 包含选择器
     如:  E1 E2 {}
     就是用空格隔开两个选择器,选择所有被 E1 包含的 E2
     table td { font-size:14px; }      /* 选取所有 table 表单里面的 td 元素 */
     div.sub a { font-size:14px; }     /* 选取所有 calss="sub" 的div 里面的 a 元素 */
  6. 分组选取器
     用逗号隔开, 将同样的样式应用于多个选择器
     .td1,div a,body { font-size:14px; }  /* 同时定义的样式有: 所有类为.td1的, div里面的a的, body元素的 */

  CSS2 版本的选择器


二、继承:
    在样式表里面，可以多次定义一个样式，具有继承功能,如：
    <style type="text/css">
        .box-gray,
        .box-green{
          border:1px solid #ccc;
          font-size:12px;
          padding:10px;
        }
        .box-gray{background:#f1f1f1}
        .box-green{background:#66ff66}
    </style>
    这里的“box-gray”和“box-green”，既有共用的上面一组属性，又有下面再定义的属性，即继承。


三、组合:
    <div class="box box-gray fs-12 pd-20">this a gray fontsize12px padding20px box</div>
    这个 div 的class有多个值，而每一个值都会生效，即组合。







实例：
一、设定超连接文字的颜色：
     1.以 <body> 标签来设定
        <body link="blue"  alink="red" vlink="black">
        其中，link是未连接状态的颜色；alink是连接中状态的颜色；vlink是已连接过状态的颜色
     2.以 Style Sheet 来设定
       <style type="text/css">
       <!--
         A:link    { color: #0000ff; }     /*未连接状态的颜色*/
         A:active  { color: red;     }     /*连接中状态的颜色*/
         A:hover   { COLOR: red;     }     /*??连接中状态的颜色*/
         A:visited { color: #808000; }     /*已连接过状态的颜色*/
       -->
       </style>


二、用文本替换图片
    <img alt="清空" src="../images/btn_blank.gif" onclick="resetForm();"/>
    <span class="btn" onclick="resetForm();">清 空</span>
    用一个 span 替换图片,背景加入图片即可,这里显示出来一个按钮的图标(背景是个按钮)

样式：
<style type="text/css">
/* 按鈕 */
.btn {
  font-size:13px;
  background:url(../images/btn_blank.gif) no-repeat;
  width:54px;
  height:22px;
  line-height:22px;
  display:inline-block;
  margin-right:10px;
  padding:2px 0 0 0;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  text-autospace:ideograph-space;
}
</style>


三、类选择器与包含选择器
    “#content_area .pagetitle{}” 与 “#content_area.pagetitle{}”所定义的对象是不同的。
    中间有空格时是包含选择，没空格是类选择
    前一个选择的是： <div id="content_area"><span class="pagetitle" >test</span></div> 里面的span元素
    后一个选择的是： <div id="content_area" class="pagetitle" >test</div>

四、网页变黑白的css
    html{filter:gray}


